<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de personas</title>
</head>
<body>

    <h1>Formulario de personas</h1>
    <form th:object="${persona}" th:action="${accion}" method="post">
        <input type="hidden" th:field="*{id}">
        <label>Nombre : <input type="text" th:field="*{nombre}"/></label><br>
        <label>Edad : <input type="number" th:field="*{edad}"/></label><br>
        <button type="submit">Guardar</button>
    </form>

    <a href="/personas">Volver al listado de personas</a>

</body>
</html>